@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #2d3436;
    color: black;
}
.back-btn {
    float: center;
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 50%;
    background: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2f3640;
    cursor: pointer;
}
.search-btn {
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2f3640;
    cursor: pointer;
}
.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 14px;
    transition: 0.4s;
    line-height: 50px;
    width: 350px;
    margin-left: 10px;
}
.search-box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #eaeaea;
    height: 50px;
    border-radius: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

h1 {
    color: #eee;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: "Proxima Nova";
}

.result-box {
    background: #eaeaea;
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
    max-width: 500px;
}
