<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>COMP4321 Phase2</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/styles.css">
        <script src="https://kit.fontawesome.com/f1f33323c9.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row justify-content-start">
                <div class="col-12">
                    <h1 align="center">DikDikGo</h1>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="search-box col-xs-12" align="center">
                    <form action="/result" method="POST">
                        <input class="search-txt" type="text" name="searchInput"  placeholder="Type to search"/>
<!--                         <a class="search-btn">
                            <i class="fas fa-search"></i>
                        </a> -->
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>